<ul>
    <li>
        <input type="text" class="input--text" placeholder="Pick a username">
    </li>
    <li>
        <input type="email" class="input--text" placeholder="Your email address">
    </li>
    <li>
        <input type="password" class="input--text" placeholder="Input your password">
        <p class="caption">
            Use at least one letter, one numeral, and seven characters.
        </p>
    </li>
    <li>
        <button type="submit" class="btn btn--primary"> Sign Up for GitHub</button>
        <p class="caption"> 
            By clicking "Sign up for GitHub", 
            you agree to our terms of service and privacy policy. 
            We'll occasionally send you account related emails.
        </p>
    </li>
</ul>
<script src="/js/sign_up.js"></script>